
    #header1 {
        font-family: 'Rubik', sans-serif;
        background-color: #10223A;
        width: 100%;
        height: auto;
        position: fixed;
        z-index: 999;
        padding: 10px 0;
        .boxes {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .box1{display: block;}
            .box {
                img {
                    width: 100%;
                    max-height: 60px;
                }

                i {
                    display: block;
                    font-size: 25px;
                }
            }
        }

        .scroll {
            display: block;
            overflow: scroll;
            width: 100%;
            height: 400px;
            overflow-x: hidden;


        }

        .scroll::-webkit-scrollbar {
            background: #777;
            width: 10px;
            height: 8px;
        }

        .scroll::-webkit-scrollbar-thumb {
            background: #fff;
        }


        .link-bar {
            padding: 20px 0;
            text-transform: uppercase;
            text-align: center;

            li {
                padding: 1px 0;
                margin: 5px 0;
                font-weight: 700;


                a {
                    color: #fff;
                    transition: 1s;
                    background-color: #10223A;
                    border-radius: 62% 56% 100% 14%/73% 27% 113% 48%;
                    display: block;
                    padding: 10px 15px;
                    margin: 9px 0;

                    &:hover {
                        background-color: #FAB005;
                        border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
                        padding: 10px 15px;
                        margin: 9px 0;
                        color: #10223A;
                    }

                }
            }

            .pages {
                position: relative;

                &:hover {
                    .dropdown {
                        display: block;
                    }
                }

                .dropdown {
                    background-color: #fff;
                    position: absolute;


                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid gainsboro;

                    ul {
                        li {
                            margin: 0;
                            padding: 4px 0;

                            a {
                                color: #000;
                                border-radius: 0;
                                background-color: #fff;
                                padding: 3px 0 !important;
                                margin: 0 !important;
                                display: inline-block;
                                width: 100%;

                                &:hover {
                                    background-color: #FAB005;
                                    color: #fff;

                                }


                            }
                        }
                    }
                }

            }

        }
        .link-bar1{display: none;}
        .link-bar2 {
            display: none;
            font-size: 14px;

            li {
                color: #fff;
                padding: 5px 0;

                .icons {
                    i {
                        color: #FAB005;
                        transition: 0.3s;

                        &:hover {
                            color: #fff;
                        }
                    }
                }

                i {
                    font-size: 13px;
                }

            }
        }
    }
    h1{font-size: 2.4em;}
  h2{font-size: 2.0em;}
  h3{font-size: 1.7em;}
 h4{font-size: 1.5em;}
 h5 {
    font-size: 1.5em;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom:20px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'ABeeZee', serif;
}

@media(min-width:768px) {
    #header1 {
        font-family: 'Rubik', sans-serif;
        background-color: #10223A;
        width: 100%;
        height: auto;
        position: fixed;
        z-index: 999;
        padding: 10px 0;
        .boxes {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .box1{display: block;}
            .box {
                img {
                    width: 100%;
                    max-height: 60px;
                }

                i {
                    display: block;
                    font-size:  25px;
                }
            }
        }

        .scroll {
            display: block;
            overflow: scroll;
            width: 100%;
            height: 400px;
            overflow-x: hidden;


        }

        .scroll::-webkit-scrollbar {
            background: #777;
            width: 10px;
            height: 8px;
        }

        .scroll::-webkit-scrollbar-thumb {
            background: #fff;
        }


        .link-bar {
            padding: 20px 0;
            text-transform: uppercase;
            text-align: center;

            li {
                padding: 1px 0;
                margin: 5px 0;
                font-weight: 700;


                a {
                    color: #fff;
                    transition: 1s;
                    background-color: #10223A;
                    border-radius: 62% 56% 100% 14%/73% 27% 113% 48%;
                    display: block;
                    padding: 10px 15px;
                    margin: 9px 0;

                    &:hover {
                        background-color: #FAB005;
                        border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
                        padding: 10px 15px;
                        margin: 9px 0;
                        color: #10223A;
                    }

                }
            }

            .pages {
                position: relative;

                &:hover {
                    .dropdown {
                        display: block;
                    }
                }

                .dropdown {
                    background-color: #fff;
                    position: absolute;


                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid gainsboro;

                    ul {
                        li {
                            margin: 0;
                            padding: 4px 0;

                            a {
                                color: #000;
                                border-radius: 0;
                                background-color: #fff;
                                padding: 3px 0 !important;
                                margin: 0 !important;
                                display: inline-block;
                                width: 100%;

                                &:hover {
                                    background-color: #FAB005;
                                    color: #fff;

                                }


                            }
                        }
                    }
                }

            }

        }
        .link-bar1{display: none;}
        .link-bar2 {
            display: none;
            font-size: 14px;

            li {
                color: #fff;
                padding: 5px 0;

                .icons {
                    i {
                        color: #FAB005;
                        transition: 0.3s;

                        &:hover {
                            color: #fff;
                        }
                    }
                }

                i {
                    font-size: 13px;
                }

            }
        }
    }
    h1{
       font-size: 4.3em;
    line-height: 1em;
    margin-bottom: 15px;
    letter-spacing: -0.5px;
    font-weight: 700; 
    }
    h2{
        margin-bottom: 20px;
        font-weight: 700;
        line-height: 1.1;
        font-size: 3.4em;
        margin-bottom: 20px;
        letter-spacing: -0.5px;
    }
    h3 {
        font-size: 2.4em;
        font-weight: 700;
        letter-spacing: -0.2px;
        margin-bottom: 20px;
        line-height: 1.2;
    }
    h4 {
        font-size: 1.8em;
        line-height: 1.2em;
        font-weight: 700;
        margin-bottom:20px;
    }
}
@media(min-width:992px) {
    #header1 {
        font-family: 'Rubik', sans-serif;
        background-color: #10223A;
        width: 100%;
        height: auto;
        position: fixed;
        z-index: 999;
       padding: 10px 0;
        .boxes {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .box1{display: block;}
            .box {
                img {
                    width: 100%;
                    max-height: 60px;
                }

                i {
                    display: block;
                    font-size:  25px;
                }
            }
        }

        .scroll {
            display: block;
            overflow: scroll;
            width: 100%;
            height: 400px;
            overflow-x: hidden;


        }

        .scroll::-webkit-scrollbar {
            background: #777;
            width: 10px;
            height: 8px;
        }

        .scroll::-webkit-scrollbar-thumb {
            background: #fff;
        }


        .link-bar {
            padding: 20px 0;
            text-transform: uppercase;
            text-align: center;

            li {
                padding: 1px 0;
                margin: 5px 0;
                font-weight: 700;


                a {
                    color: #fff;
                    transition: 1s;
                    background-color: #10223A;
                    border-radius: 62% 56% 100% 14%/73% 27% 113% 48%;
                    display: block;
                    padding: 10px 15px;
                    margin: 9px 0;

                    &:hover {
                        background-color: #FAB005;
                        border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
                        padding: 10px 15px;
                        margin: 9px 0;
                        color: #10223A;
                    }

                }
            }

            .pages {
                position: relative;

                &:hover {
                    .dropdown {
                        display: block;
                    }
                }

                .dropdown {
                    background-color: #fff;
                    position: absolute;


                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid gainsboro;

                    ul {
                        li {
                            margin: 0;
                            padding: 4px 0;

                            a {
                                color: #000;
                                border-radius: 0;
                                background-color: #fff;
                                padding: 3px 0 !important;
                                margin: 0 !important;
                                display: inline-block;
                                width: 100%;

                                &:hover {
                                    background-color: #FAB005;
                                    color: #fff;

                                }


                            }
                        }
                    }
                }

            }

        }
        .link-bar1{display: none;}
        .link-bar2 {
            display: none;
            font-size: 14px;

            li {
                color: #fff;
                padding: 5px 0;

                .icons {
                    i {
                        color: #FAB005;
                        transition: 0.3s;

                        &:hover {
                            color: #fff;
                        }
                    }
                }

                i {
                    font-size: 13px;
                }

            }
        }
    }
}
@media(min-width:1200px) {
    #header1 {
        font-family: 'Rubik', sans-serif;
        background-color: #10223A;
        width: 34vh;
        height: 100vh;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        text-align: center;
        padding: 100px 0;
       
        .boxes {
            .box1{display: none;}
            .box { margin: auto;
                
                img {
                    width: 100%;
                    max-height: 170px;
                   
                }

                i {
                    display: none;
                }
            }
        }

        .scroll {
            display: none;
        }

        .link-bar {
            display: block;
            padding: 20px 0;
            text-transform: uppercase;

            li {
                padding: 9px 0;
                margin: 5px 0;
                font-weight: 700;

                a {
                    color: #fff;
                    transition: 1s;
                    background-color: #10223A;
                    border-radius: 62% 56% 100% 14%/73% 27% 113% 48%;

                    padding: 10px 15px;
                    margin: 9px 0;

                    &:hover {
                        background-color: #FAB005;
                        border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
                        padding: 10px 15px;
                        margin: 9px 0;
                        color: #10223A;
                    }

                }
            }

            .pages {
                position: relative;

                &:hover {
                    .dropdown {
                        display: block;
                    }
                }

                .dropdown {
                    display: none;
                    background-color: #fff;
                    position: absolute;
                    top: 40%;
                    left: 91%;
                    width: 190px;
                    border-radius: 5px;
                    border: 1px solid gainsboro;

                    ul {
                        li {
                            margin: 0;
                            padding: 4px 0;

                            a {
                                color: #000;
                                border-radius: 0;
                                background-color: #fff;
                                padding: 3px 0 !important;
                                margin: 0 !important;
                                display: inline-block;
                                width: 100%;

                                &:hover {
                                    background-color: #FAB005;
                                    color: #fff;

                                }


                            }
                        }
                    }
                }

            }

        }

        .link-bar1 {
            display: block;
            padding: 20px 0;
            text-transform: uppercase;

            li {
                padding: 9px 0;
                margin: 5px 0;
                font-weight: 700;

                a {
                    color: #fff;
                    transition: 1s;
                    background-color: #10223A;
                    border-radius: 62% 56% 100% 14%/73% 27% 113% 48%;

                    padding: 10px 15px;
                    margin: 9px 0;

                    &:hover {
                        background-color: #FAB005;
                        border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
                        padding: 10px 15px;
                        margin: 9px 0;
                        color: #10223A;
                    }

                }
            }

            .pages {
                position: relative;

                &:hover {
                    .dropdown {
                        display: block;
                    }
                }

                .dropdown {
                    display: none;
                    background-color: #fff;
                    position: absolute;
                    top: 40%;
                    left: 91%;
                    width: 190px;
                    border-radius: 5px;
                    border: 1px solid gainsboro;

                    ul {
                        li {
                            margin: 0;
                            padding: 4px 0;

                            a {
                                color: #000;
                                border-radius: 0;
                                background-color: #fff;
                                padding: 9px 0 !important;
                                margin: 0 !important;
                                display: inline-block;
                                width: 100%;

                                &:hover {
                                    background-color: #FAB005;
                                    color: #fff;

                                }


                            }
                        }
                    }
                }

            }

        }

        .link-bar2 {
            display: block;
            font-size: 14px;

            li {
                color: #fff;
                padding: 5px 0;

                .icons {
                    i {
                        color: #FAB005;
                        transition: 0.3s;

                        &:hover {
                            color: #fff;
                        }
                    }
                }

                i {
                    font-size: 13px;
                }

            }
        }
    }


}
