*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
a{text-decoration: none;}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.button1{
    background-color: #FAB005!important;
    border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
    padding: 10px 15px;
     margin: 9px 0;
    color: #000 !important;
    
}